Button.login-primary {
  font-size: 20;
  font-weight: 700;
  background-color: #ffbd33;
  border-radius: 10px;
}

Button.login-secondary {
  font-size: 20;
  background-color: #383838;
  border-radius: 10px;
}
